@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
    /* border: 1px solid pink; */
  }

body {
    background-color: #4E9DB1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
  font-size: 25px;
}

input[type="text"]
{
    font-size:17px;
}

h1 {
  align-self: center;
  color: #efefef;
}

h3 {
  color:rgb(31, 122, 140)
}

.textinputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: #57b1c7;
  box-shadow: 1px 1px 1px 1px rgb(169, 211, 248);
  border-radius: 8px;
}

.todoInput{
    width: 90%;
    border: none;
    box-shadow: 4px 2px 2px 1px rgb(195, 195, 195);
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
}

.textTodoInput {
  height: 50px;
}

header{
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.todoListContainer {
  min-width: 400px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.todoList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

  .todo{
    grid-template-columns: 1fr 50px 1fr 1fr;
    justify-content: space-between;
    margin: 10px;
    min-width: 200px;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    order: 2;
  }

 /* .todo:active{
    transform: translateX(400px);
    transition: 0.3s;

 } */

  .todo > * {
    margin: 6px;
  }

  .in-Progress {
    box-shadow: 1px 1px 0px 7px #b1c758;
  }

  .important {
    order: 1;
    border: 10px solid rgb(255, 137, 102);
  }
  
  .not-important {
    order: 2;
  }

  .buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .button {
    cursor: pointer;
    margin: 4px 3px;
    padding: 3px;
    background-color: rgb(141, 217, 192);
    color:rgb(255, 255, 255);
    width: 50px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    border-radius: 4px;
  }

  .button:active {
    transform: translateY(4px);
    transition: 0.2s;
  }
  .addButton {
    width: 90%;
    height: 3rem;
    background-color: rgb(255, 137, 102);
  }

  .importantButton {
    background-color: rgb(255, 137, 102);
    width:fit-content;
    padding: 7px 20px;
  }
 
  .deleteButton {
    background-color: rgb(225, 127, 127);
    width: 30px;
    border-radius: 10px;
  }

  .copyButton {
    background-color: #4E9DB1;
  }

  .shake{
    animation: shakey 2s infinite;
  }

  .done {
    background-color: grey;
  }

  @media (hover: hover) {
    .button:hover {
      background-color: rgb(148, 236, 207);
    }
  
    .deleteButton:hover {
      background-color: rgb(255, 137, 102);
    }
  
    .importantButton:hover {
      background-color: rgb(221, 35, 81);
    }
    .addButton:hover{
      background-color: rgb(250, 82, 31);
    }
    .todo:hover{
      transform: translateX(15px);
      transition: 0.5s;
      box-shadow: -15px 0px 0px 0px rgb(255, 137, 102);
    }
  }

  @keyframes shakey {
    10% { transform: scale(1.05) rotate(5deg); }
    20% { transform: scale(1.05) rotate(-5deg); }
    30% { transform: scale(1.05) rotate(5deg); }
    40% { transform: none; }
  }

  @media screen and (min-width: 680px) {
    .todoListContainer {
      flex-direction: row;
    }
    .todoContainer {
      width: 50%;
    }
    .textinputContainer{
      width: 90%;
    }
    .todoListContainer{
      width: 90%;
    }
  }