* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid pink; */
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textinputContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.todoInput{
    max-width: 500px;
    border: none;
    box-shadow: 2px 5px 10px 5px rgb(195, 195, 195);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

header{
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.todoListContainer {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.todoList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

  .todo{
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 300px;
    width: 90%;
    padding: 10px;
    border-radius: 2px;
    border: solid black 1px;
    cursor: pointer;
    order: 2;
  }

  .todo > * {
    margin: 8px;
  }

  .important {
    order: 1;
    border: 3px solid blue;
  }
  .done {
    background-color: rgb(186, 181, 181);
    order: 3;
  }

  .buttons-container{
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  .button {
    cursor: pointer;
    margin: 3px;
    background-color: aquamarine;
    width: 50px;
    border-radius: 4px;
  }

  .deleteButton {
    background-color: rgb(225, 127, 127);
    width: 30px;
    border-radius: 10px;
  }

  .button:hover {
    background-color: rgb(237, 41, 41);
  }

  .shake{
    animation: shakey 2s infinite;
  }

  @keyframes shakey {
    10% { transform: scale(1.05) rotate(5deg); }
    20% { transform: scale(1.05) rotate(-5deg); }
    30% { transform: scale(1.05) rotate(5deg); }
    40% { transform: none; }
  }

  @media screen and (min-width: 500px) {
    .todoListContainer {
      flex-direction: row;
    }
    .todoContainer {
      width: 50%;
    }
  }